@model TCGInventory.Models.Card

@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-5">
    <h1 class="display-4">Información de la carta</h1>

    <h4 class="mt-4">Datos de la Carta</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>


            
            <div class="form-group">
                <label asp-for="Rarity" class="control-label"></label>
                <select asp-for="Rarity" asp-items="Html.GetEnumSelectList<TCGInventory.Models.Rareza>()" class="form-control"></select>
                <span asp-validation-for="Rarity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Attack" class="control-label"></label>
                <input asp-for="Attack" class="form-control" />
                <span asp-validation-for="Attack" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Defense" class="control-label"></label>
                <input asp-for="Defense" class="form-control" />
                <span asp-validation-for="Defense" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="YearReleased" class="control-label"></label>
                <input asp-for="YearReleased" class="form-control" />
                <span asp-validation-for="YearReleased" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Set" class="control-label"></label>
                <input asp-for="Set" class="form-control" />
                <span asp-validation-for="Set" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                <select asp-for="Score" asp-items="Html.GetEnumSelectList<TCGInventory.Models.Puntaje>()" class="form-control"></select>
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
                        <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardExpansionId" class="control-label"></label>
                <input asp-for="CardExpansionId" class="form-control" />
                <span asp-validation-for="CardExpansionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar Cambios" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}